*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!schemas
!schemas/*
!test
!test/samples.tsv
!test/config.yaml
!test/bam
!test/bam/a.bam
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
